<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
<h1>{{title}}</h1>

<footer class="footer">
    <div class="bottom">
        <span class="copy-text">&copy;2019-{{year}}</span><a class="copy-link" href="/">Genfic</a>
    </div>
</footer>

</body>
</html>
