@font-face {
	font-family: 'Raleway Var';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src:
		local('Raleway'),
		url('/fonts/Raleway-VF.woff2') format('woff2');
}

a {
	color: var(--fg-sat);

	&:hover {
		color: var(--fg-75);
	}

	&:focus {
		outline: 2px dotted var(--fg-50);
	}
}
