//noinspection CssUnknownTarget
@font-face {
	font-family: 'Raleway Var';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: local('Raleway'), url('/fonts/Raleway-VF.woff2') format('woff2');
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

button {
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

$fg: #efefef;
$bg: #151015;
$hl: rgb(255,
	255,
	0);
:root {
	--fg: #{$fg};
	--fg-75: #{mix($fg, $bg, 75%)};
	--fg-50: #{mix($fg, $bg, 50%)};
	--fg-25: #{mix($fg, $bg, 25%)};
	--fg-10: #{mix($fg, $bg, 10%)};
	--bg: #{$bg};
	--body-bg: #{lighten($bg, 10%)};
	--hl: #{$hl};
	--hl-5: #{rgba($hl, .5)};
	--hl-10: #{rgba($hl, 0.1)};
}

a {
	color: saturate($fg, 50%);

	&:hover {
		color: var(--fg-75);
	}

	&:focus {
		outline: 2px dotted var(--fg-50);
	}
}

body {
	min-height: 100vh;
	background-color: var(--body-bg);
	color: var(--fg);
	font-family: 'Raleway Var', sans-serif;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#description {
	line-height: 1.2rem;
}

main {
	min-height: 100vh;
	max-width: 750px;
	background-color: var(--bg);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	padding: min(2rem, 3vw);
	margin: auto;

	.search {
		width: min(100%, 400px);
		display: flex;
		background-color: var(--fg-10);
		border: 1px solid var(--fg-50);
		align-items: center;

		&:hover {
			background-color: var(--fg-25);
		}

		svg {
			height: 24px;
			width: 24px;
			margin: auto 0.25rem;
		}

		label {
			opacity: 0;
			height: 0;
			width: 0;
		}

		#search {
			color: var(--fg);
			background-color: transparent;
			border: none;
			padding: 0.5rem;
			width: 100%;
			font-size: 1.1rem;
		}
	}

	table {
		flex: 1;
		border-collapse: collapse;
		width: 100%;

		tr {
			border-bottom: 1px solid var(--fg-50);
			@media screen and (max-width: 600px) {
				display: flex;
				flex-direction: column;
				&:first-child {
					display: none;
				}
			}

			&:not(:first-child) {
				transition: background-color 100ms ease-in-out;

				&:hover {
					background-color: var(--fg-10);
				}
			}

			&:target {
				outline: 5px solid var(--hl-5);
				animation: fadeOut 2s 2s forwards;

				@keyframes fadeOut {
					0% {
						outline-color: var(--hl-5);
					}
					100% {
						outline-color: transparent;
					}
				}
			}

			&.hidden {
				visibility: collapse;
			}

			&.found-type {
				td.cat {
					outline: 1px solid var(--hl-5);
					outline-offset: -3px;
					background-color: var(--hl-10);
				}
			}

			&.found-word {
				td.word {
					outline: 1px solid var(--hl-5);
					outline-offset: -3px;
					background-color: var(--hl-10);
				}
			}

			th {
				padding: 0.5rem 1rem;
			}

			td {
				padding: 0.5rem 1rem;
				vertical-align: middle;

				&.cat {
					color: var(--fg-75);
					font-weight: 300;
				}

				&.word {
					letter-spacing: 0.1rem;
				}

				&.sound {
					letter-spacing: 0.2rem;
				}

				&.buttons {
					display: flex;
					align-items: center;
					gap: 0.5rem;

					.button {
						height: 24px;

						&:focus {
							outline: 2px dotted var(--fg-50);
						}

						&:hover {
							svg {
								stroke: var(--fg);
							}
						}

						svg {
							height: 100%;
							stroke: var(--fg-50);
							transition: stroke 100ms ease-in-out;
						}
					}
				}
			}
		}
	}
}

audio#player {
	position: fixed;
	bottom: 0.5rem;
	left: 0.5rem;
	opacity: 0;
	pointer-events: none;
	transition: opacity 100ms ease-in-out;

	&.visible {
		opacity: 1;
		pointer-events: auto;
	}
}

dialog {
	margin: auto;
	padding: 2px;
	border: 0;
	box-shadow: 2px 2px 10px 2px var(--bg);
	max-height: 90vh;
	width: min(100%, 700px);
	overflow: auto;
	background-color: var(--body-bg);
	color: var(--fg);
	line-height: 1.5rem;

	button#close {
		position: absolute;
		top: 0;
		right: 0;

		&:hover {
			svg {
				stroke: var(--fg-50);
			}
		}

		svg {
			height: 24px;
		}
	}

	.body {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		user-select: none; // hack to prevent clicking off the dialog from selecting all text
		margin: 1rem;

		.title {
			font-size: 1.2rem;
		}

		.definition {
		}

		.entry {
			display: flex;
			gap: 0.5rem;

			time {
				font-family: monospace;
				color: var(--fg-50);
				transition: color 100ms ease-in-out;

				&:hover {
					color: var(--fg);
				}
			}
		}
	}

	.link {
		--col: var(--fg);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		margin-top: 2px;
		gap: 0.5rem;
		width: 100%;
		color: var(--col);
		background-color: rgba($fg, 0.1);
		user-select: none; // hack to prevent clicking off the dialog from selecting all text
		&:hover {
			--col: var(--fg-50);
		}

		svg {
			fill: var(--col);
			height: 1.5rem;
		}
	}
}

button#info-button {
	width: 3rem;
	height: 3rem;
	position: fixed;
	top: min(1rem, 1vw);
	right: min(1rem, 1vw);
}

footer {
	align-self: center;
	justify-self: end;
}
